if USEMODULE_ETHOS
config GNRC_DHCPV6_CLIENT_6LBR_STATIC_ROUTE
    default y
    depends on USEMODULE_GNRC_DHCPV6_CLIENT_6LBR && KCONFIG_USEMODULE_GNRC_DHCPV6
endif # USEMODULE_ETHOS

rsource "../Kconfig.common"
