CONFIG_KCONFIG_USEPKG_TINYDTLS=y
CONFIG_DTLS_PEER_MAX=2
CONFIG_DTLS_MAX_BUF=1024

CONFIG_KCONFIG_USEPKG_WAKAAMA=y
CONFIG_LWM2M_WITH_LOGS=n

# server configuration
CONFIG_LWM2M_SERVER_URI="coap://[fe80::6098:a7ff:fed9:3cea]" # port inferred from security mode when undefined
CONFIG_LWM2M_CHECK_ACCESS_RIGHTS=y # check access rights on server requests

# client-to-client configuration
CONFIG_LWM2M_CLIENT_C2C=y # enable client-to-client
CONFIG_LWM2M_CLIENT_CHECK_ACCESS_RIGHTS=y # check for access rights on client requests


CONFIG_KCONFIG_USEMODULE_IEEE802154=y
CONFIG_IEEE802154_DEFAULT_CHANNEL=15

CONFIG_KCONFIG_USEMODULE_GNRC_IPV6_NIB=y
CONFIG_GNRC_IPV6_NIB_NUMOF=14
CONFIG_GNRC_IPV6_NIB_OFFL_NUMOF=14
CONFIG_GNRC_IPV6_NIB_NO_RTR_SOL=y
CONFIG_GNRC_IPV6_NIB_ADV_ROUTER=n

CONFIG_DTLS_DELAY_HANDSHAKE=y
