# security credentials to be used with the server
CONFIG_PSK_ID="Client_Identity"
CONFIG_PSK_KEY="ThisIsRIOT!"

# Client 1 - requester
CONFIG_CLIENT_TYPE_REQUESTER=y

# This client configuration, also used as endpointName
CONFIG_LWM2M_DEVICE_NAME="client_01"

CONFIG_IPV6_PREFIX="2001:660:5307:3120"
CONFIG_IPV6_PREFIX_LEN=64
